In [22]:
a=input("Enter a word:")
s=a.upper()
new_s=s[0]+s[1:].replace(s[0],'$')
print("Modified word:",new_s)

Enter a word:Anjana
Modified word: ANJ$N$

In [21]:
C=input("Enter the Colors(comma-seperated):")
C_list=C.split(",")
print("List of colors is:",C_list)
print("First Color in the List is:",C_list[0])
print("Last color in the List is:",C_list[-1])

Enter the Colors(comma-seperated):red,green,blue,black
List of colors is: ['red', 'green', 'blue', 'black']
First Color in the List is: red
Last color in the List is: black

In [24]:
Fn=input("Enter a Filename:")
Fn_e=Fn.split(".")
print("Extension of the Filename is:",Fn_e[-1])

Enter a Filename:exp.txt
Extension of the Filename is: txt

In [28]:
s=input("Enter the tuple (comma-seperated):")
s_tuple=tuple(s.split(","))
print("The tuple of elements is:",s_tuple)
print("First Element is:",s_tuple[2])
print("Last Element is:",s_tuple[-3])

Enter the tuple (comma-seperated):10,20,30,40,50,60
The tuple of elements is: ('10', '20', '30', '40', '50', '60')
First Element is: 30
Last Element is: 40

In [34]:
C1=input("Enter Color set1:").split(",")
C2=input("Enter Color Set2:").split(",")
set1 = set(C1)
set2 = set(C2)
m_c=set1-set2
print(m_c)

Enter Color set1:red,green,blue,pink
Enter Color Set2:pink,black,grey,orange
{'red', 'blue', 'green'}

In [11]:
n1=input("Enter 3 student's names seperated by spaces:").split()
dict1={1:n1[0],2:n1[1],3:n1[2]}
n2=input("Enter 2 student's names seperated by spaces:").split()
dict2={4:n2[0],5:n2[1]}
dict1.update(dict2)
print("Merged Dictionary is:",dict1)

Enter 3 student's names seperated by spaces:Anjana Sreya Soja
Enter 2 student's names seperated by spaces:nada Hudha
Merged Dictionary is: {1: 'Anjana', 2: 'Sreya', 3: 'Soja', 4: 'nada', 5: 'Hudha'}

In [12]:
Even_n=list(range(2,26,2))
print("Even Numbers Are:",Even_n)
Sum_n=sum(range(2,26,2))
print("Sum of the NUmbers is:",Sum_n)

Even Numbers Are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
Sum of the NUmbers is: 156

In [19]:
r=input("Enter 5 Roll Numbers Seperated By commas:").split(",")
n=input("Enter 5 student Names seperated by commas:").split(",")
d={n[0]:r[0],n[1]:r[1],n[2]:r[2],n[3]:r[3],n[4]:r[4]}
print("Dictionary:",d)
s=dict(sorted(d.items(),reverse=False))
print("Sorted Dictionary in Ascending Order:",s)
s=dict(sorted(d.items(),reverse=True))
print("Sorted Dictionary in Descending Order:",s)

Enter 5 Roll Numbers Seperated By commas:1,2,6,4,33
Enter 5 student Names seperated by commas:anjana,soja,sreya,hudha,nada
Dictionary: {'anjana': '1', 'soja': '2', 'sreya': '6', 'hudha': '4', 'nada': '33'}
Sorted Dictionary in Ascending Order: {'anjana': '1', 'hudha': '4', 'nada': '33', 'soja': '2', 'sreya': '6'}
Sorted Dictionary in Descending Order: {'sreya': '6', 'soja': '2', 'nada': '33', 'hudha': '4', 'anjana': '1'}

HEllo